.wy-table-responsive table td,
.wy-table-responsive table th,
table.docutils td,
table.docutils th,
.wy-table-responsive table td a,
table.docutils td a {
  white-space: normal !important;
  word-break: normal !important;
  overflow-wrap: normal !important;
}
